<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:fragment="baseHeader(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}"></title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
</head>
<body>

<div th:fragment="searchbar" class="input-group mb-3 w-50 p-3">
    <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
</div>


<div th:fragment="navbar">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/recipe/overview}">Recipes</a>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
            <a class="nav-link" th:href="@{/login}">Login</a>
        </li>
        <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
            <a class="nav-link" th:href="@{/logout}">Logout <span sec:authentication="name"></span></a>
        </li>
    </ul>
</div>

<div th:fragment="footer">
    <footer><p class="text-center text text-muted">Copyright ByteSize &copy;2024</p></footer>
</div>

<div th:fragment="bottomScripts">

</div>

</body>
</html>