<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:fragment="baseHeader(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}"></title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}">

    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
</head>
<body>

<div th:fragment="navbar">
    <nav class="navbar fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">ByteSize</a>
            <div class="justify-content-start input-group w-25">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="search-button">
                <button class="btn btn-secondary" type="submit" id="search-button"><i class="bi bi-search"></i></button>
            </div>
            <div class="d-flex justify-content-end">
                <a class="nav-item">
                    <a class="nav-link" th:href="@{/recipe/overview}">Recipe Overview</a>
                </a>
                <a class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/user/register}">Register</a>
                </a>
                <a class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                    <a class="nav-link" th:href="@{/user/overview}">Users</a>
                </a>
                <a class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/login}"><i class="bi bi-person-circle h2 btn-group-vertical"></i> Sign in</a>
                </a>
                <div class="dropdown" sec:authorize="hasRole('ROLE_USER')">
                    <a class="btn btn-custom2 dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle h2 btn-group-vertical"></i> <span th:text="${#authentication.name}"></span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{/user/details/{username}(username = ${#authentication.name})}">Your Details</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/logout}">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="footer">
    <footer><p class="text-center text text-muted">Copyright ByteSize &copy;2024</p></footer>
</div>

<div th:fragment="bottomScripts">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</div>

</body>
</html>