<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<body>

<div th:fragment="recipeCards(recipes)" class="row row-cols-1 row-cols-md-6 g-4">
    <div th:each="recipe : ${recipes}" th:include="~{:: recipeCard(${recipe})}"></div>
</div>

<div th:fragment="recipeCard(recipe)" class="col">
    <div class="card h-100">
        <a th:href="@{/recipe/detail/{recipeTitle}(recipeTitle = ${recipe.recipeTitle})}">
            <img height="300px" th:src="${recipe.imageUrl}" class="card-img-top object-fit-cover" th:alt="|Cover for ${recipe.recipeTitle}|">
        </a>
        <div class="card-header">
            <a th:href="@{/recipe/detail/{recipeTitle}(recipeTitle = ${recipe.recipeTitle})}">
                <h5 class="card-title" th:text="${recipe.recipeTitle}"></h5>
            </a>
        </div>
        <div class="card-body" style="">
            <p class="card-text" th:text="${recipe.recipeDescription}"></p>
        </div>
    </div>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>
</html>