h1 {
    color: #FF0000;
}

html {
    scroll-padding-top: 70px;
}

body {
    background-color: #D1C0AF;
}

.table-striped>tbody>tr>td,
.table-striped>tbody>tr>th {
    background-color: #D1C0AF;
    border-bottom: none;
}

.navbar-inner {
    background:transparent;
}

.nav-link {
    color: #111111;
}

.nav-link:hover {
    color: #FF0000;
}

.sidenav {
    height: 100%;
    width: 160px;
    margin-top: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.0);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #111111;
    display: block;
}

.sidenav a:hover {
    color: #FF0000;
}

.main {
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 70px;
    margin-bottom: 60px;
    padding: 0px 10px;
    border: 1px ridge;
}

.btn-custom {
    min-width: 100px;
    background-color: transparent;
    color: #FF0000;
    border-radius: 1px;
    text-decoration: none;
    opacity:1.0;
    box-shadow:none;
}

.btn-custom:hover {
    color: black;
    background-color: #FF0000;
}