h1 {
    color: #FF0000;
}

html {
    scroll-padding-top: 3.5em;
}

body {
    background-color: #D1C0AF;
}

.main {
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 4em;
    margin-bottom: 4em;
    padding: 4em 4em;
    border: 0.1em ridge;
}

.nav-item {
    margin-left: 3em;
    margin-right: 3em;
}

.navbar-inner {
    background:transparent;
}

.sidenav {
    height: 100%;
    width: 10em;
    margin-top: 4em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.0);
    overflow-x: hidden;
    padding-top: 1em;
}

.sidenav a {
    padding: 0.5em 0.5em 0.5em 1em;
    text-decoration: none;
    font-size: 1.5em;
    color: #111111;
    display: block;
}

.sidenav a:hover {
    color: #FF0000;
}

.btn-custom {
    min-width: 7em;
    background-color: transparent;
    color: #ff0000;
    border-radius: 0.1em;
    text-decoration: none;
    opacity: 1.0;
    box-shadow:none;
}

.btn-custom:hover {
    color: black;
    background-color: #FF0000;
}

.table-striped>tbody>tr>td,
.table-striped>tbody>tr>th {
    background-color: #D1C0AF;
    border-bottom: none;
}