<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>ByteSize: recipes in a bite size format!</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="main">
    <h1>Welcome to ByteSize!</h1>
    <div class="container">
        <div th:replace="~{fragments/recipe :: recipeCards(${randomAmountOfRecipes})}"></div>
    </div>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>