<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>recipeDetail.html</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="main">

    <h1><span th:text="${recipe.recipeTitle}"></span></h1>

<div class="container">

    <div class="sidenav">
        <a href="#ingredients">Ingredients</a>
        <a href="#step-1">Step One</a>
        <a href="#step-2">Step Two</a>
        <a href="#step-3">Step Three</a>
    </div>

    <h2 id="ingredients">INGREDIENTS</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at odio nec sem ultrices cursus. Ut tincidunt vulputate venenatis. Praesent posuere rutrum nulla, in condimentum nisl convallis ut. Maecenas pharetra, nisl vitae luctus tempor, elit nisi euismod dui, ut rhoncus orci nulla eget risus. Nullam aliquet magna quis suscipit pellentesque. Duis feugiat justo turpis, id imperdiet risus maximus vitae. Pellentesque iaculis nulla quis metus varius, eu laoreet dui gravida. Mauris gravida sem ut ipsum scelerisque eleifend eu id tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus congue nisi cursus orci tincidunt, aliquet imperdiet enim fermentum. Cras consequat vitae libero eu euismod. Phasellus elementum justo nec ornare cursus. Curabitur sit amet nisl venenatis, posuere ipsum eu, aliquam sapien. Nullam posuere eros lorem, et porta urna bibendum at. Donec interdum purus non diam hendrerit pharetra. Etiam malesuada velit id feugiat luctus.
    </p>
    <p>
        Nulla lobortis blandit ante non tincidunt. Aliquam vel aliquet augue, eu egestas velit. Nam auctor scelerisque dolor, quis convallis mi lacinia at. Praesent nec magna fermentum justo eleifend tincidunt vel quis eros. Aliquam ornare aliquet elit, non blandit leo sodales a. Nullam faucibus, est et accumsan aliquet, orci odio consectetur sapien, quis tristique nunc mauris vitae ex. Donec posuere tellus vel libero pulvinar, quis ultrices velit tempus. Vestibulum hendrerit risus non ante pulvinar, sagittis faucibus libero consectetur. Maecenas sed mattis diam, at porta ipsum. Pellentesque imperdiet odio augue, eu vulputate justo porttitor sed. Proin consequat efficitur neque. Fusce vel urna congue, rhoncus nisi ac, auctor augue. Sed sed enim dui.
    </p>

    <h2 id="step-1">STEP ONE</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at odio nec sem ultrices cursus. Ut tincidunt vulputate venenatis. Praesent posuere rutrum nulla, in condimentum nisl convallis ut. Maecenas pharetra, nisl vitae luctus tempor, elit nisi euismod dui, ut rhoncus orci nulla eget risus. Nullam aliquet magna quis suscipit pellentesque. Duis feugiat justo turpis, id imperdiet risus maximus vitae. Pellentesque iaculis nulla quis metus varius, eu laoreet dui gravida. Mauris gravida sem ut ipsum scelerisque eleifend eu id tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus congue nisi cursus orci tincidunt, aliquet imperdiet enim fermentum. Cras consequat vitae libero eu euismod. Phasellus elementum justo nec ornare cursus. Curabitur sit amet nisl venenatis, posuere ipsum eu, aliquam sapien. Nullam posuere eros lorem, et porta urna bibendum at. Donec interdum purus non diam hendrerit pharetra. Etiam malesuada velit id feugiat luctus.
    </p>
    <p>
        Nulla lobortis blandit ante non tincidunt. Aliquam vel aliquet augue, eu egestas velit. Nam auctor scelerisque dolor, quis convallis mi lacinia at. Praesent nec magna fermentum justo eleifend tincidunt vel quis eros. Aliquam ornare aliquet elit, non blandit leo sodales a. Nullam faucibus, est et accumsan aliquet, orci odio consectetur sapien, quis tristique nunc mauris vitae ex. Donec posuere tellus vel libero pulvinar, quis ultrices velit tempus. Vestibulum hendrerit risus non ante pulvinar, sagittis faucibus libero consectetur. Maecenas sed mattis diam, at porta ipsum. Pellentesque imperdiet odio augue, eu vulputate justo porttitor sed. Proin consequat efficitur neque. Fusce vel urna congue, rhoncus nisi ac, auctor augue. Sed sed enim dui.
    </p>

    <h2 id="step-2">STEP TWO</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at odio nec sem ultrices cursus. Ut tincidunt vulputate venenatis. Praesent posuere rutrum nulla, in condimentum nisl convallis ut. Maecenas pharetra, nisl vitae luctus tempor, elit nisi euismod dui, ut rhoncus orci nulla eget risus. Nullam aliquet magna quis suscipit pellentesque. Duis feugiat justo turpis, id imperdiet risus maximus vitae. Pellentesque iaculis nulla quis metus varius, eu laoreet dui gravida. Mauris gravida sem ut ipsum scelerisque eleifend eu id tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus congue nisi cursus orci tincidunt, aliquet imperdiet enim fermentum. Cras consequat vitae libero eu euismod. Phasellus elementum justo nec ornare cursus. Curabitur sit amet nisl venenatis, posuere ipsum eu, aliquam sapien. Nullam posuere eros lorem, et porta urna bibendum at. Donec interdum purus non diam hendrerit pharetra. Etiam malesuada velit id feugiat luctus.
    </p>
    <p>
        Nulla lobortis blandit ante non tincidunt. Aliquam vel aliquet augue, eu egestas velit. Nam auctor scelerisque dolor, quis convallis mi lacinia at. Praesent nec magna fermentum justo eleifend tincidunt vel quis eros. Aliquam ornare aliquet elit, non blandit leo sodales a. Nullam faucibus, est et accumsan aliquet, orci odio consectetur sapien, quis tristique nunc mauris vitae ex. Donec posuere tellus vel libero pulvinar, quis ultrices velit tempus. Vestibulum hendrerit risus non ante pulvinar, sagittis faucibus libero consectetur. Maecenas sed mattis diam, at porta ipsum. Pellentesque imperdiet odio augue, eu vulputate justo porttitor sed. Proin consequat efficitur neque. Fusce vel urna congue, rhoncus nisi ac, auctor augue. Sed sed enim dui.
    </p>

    <h2 id="step-3">STEP THREE</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at odio nec sem ultrices cursus. Ut tincidunt vulputate venenatis. Praesent posuere rutrum nulla, in condimentum nisl convallis ut. Maecenas pharetra, nisl vitae luctus tempor, elit nisi euismod dui, ut rhoncus orci nulla eget risus. Nullam aliquet magna quis suscipit pellentesque. Duis feugiat justo turpis, id imperdiet risus maximus vitae. Pellentesque iaculis nulla quis metus varius, eu laoreet dui gravida. Mauris gravida sem ut ipsum scelerisque eleifend eu id tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus congue nisi cursus orci tincidunt, aliquet imperdiet enim fermentum. Cras consequat vitae libero eu euismod. Phasellus elementum justo nec ornare cursus. Curabitur sit amet nisl venenatis, posuere ipsum eu, aliquam sapien. Nullam posuere eros lorem, et porta urna bibendum at. Donec interdum purus non diam hendrerit pharetra. Etiam malesuada velit id feugiat luctus.
    </p>
    <p>
        Nulla lobortis blandit ante non tincidunt. Aliquam vel aliquet augue, eu egestas velit. Nam auctor scelerisque dolor, quis convallis mi lacinia at. Praesent nec magna fermentum justo eleifend tincidunt vel quis eros. Aliquam ornare aliquet elit, non blandit leo sodales a. Nullam faucibus, est et accumsan aliquet, orci odio consectetur sapien, quis tristique nunc mauris vitae ex. Donec posuere tellus vel libero pulvinar, quis ultrices velit tempus. Vestibulum hendrerit risus non ante pulvinar, sagittis faucibus libero consectetur. Maecenas sed mattis diam, at porta ipsum. Pellentesque imperdiet odio augue, eu vulputate justo porttitor sed. Proin consequat efficitur neque. Fusce vel urna congue, rhoncus nisi ac, auctor augue. Sed sed enim dui.
    </p>

    <a th:href="@{/recipe/edit/{recipeId}(recipeId = ${recipe.recipeId})}" class="btn btn-custom btn-lg px-4 fw-bold" type="button">Edit Recipe</a>

    <a th:href="@{/recipe/delete/{recipeId}(recipeId = ${recipe.recipeId})}" class="btn btn-custom btn-lg px-4 fw-bold" type="button">Delete Recipe</a>





</div>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>


</body>
</html>