<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>Recipe Overview</title>
</head>
<body>

<div th:replace="~{fragments/general :: searchbar}"></div>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <h1>Overview of all recipes</h1>

    <table>
        <tr>
            <th>Recipe</th>
        </tr>
        <tr th:each="recipe : ${allRecipes}">
            <td th:text="${recipe.recipeTitle}"></td>
        </tr>
    </table>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>
</html>