<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>Recipe Overview.html</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="main">
<div class="container">
    <h1>Overview of all recipes</h1>

    <table>
        <tr>
            <th>Recipe</th>
            <th></th>
        </tr>
        <tr th:each="recipe : ${allRecipes}">
            <td><a th:href="@{/recipe/detail/{recipeTitle}(recipeTitle = ${recipe.recipeTitle})}" th:text="${recipe.recipeTitle}"></td>
            <td><a th:href="@{/recipe/delete/{recipeId}(recipeId = ${recipe.recipeId})}">delete</a></td>
        </tr>
    </table>

    <a th:href="@{/recipe/new}">Add new recipe</a>

</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</div>
</body>
</html>