<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title th:text="|${byteSizeUserToBeShown.username}'s Details|"></title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="main">

    <div>
        <h1 th:text="|${byteSizeUserToBeShown.username}|"></h1>
    </div>

<div class="container">
    <h2>ABOUT ME</h2>
    <p><span th:text="${byteSizeUserToBeShown.userAboutMe}"></span></p>

</div>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>