<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>User Overview</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="main">
    <h1>Overview of all users</h1>
<div class="container">

    <table class="table table-striped">
        <tr>
            <th>User</th>
            <th></th>
            <th>Remove user</th>
        </tr>
        <tr th:each="user : ${allUsers}">
            <td><a th:href="@{/user/details/{username}(username = ${user.username})}" th:text="${user.username}"></a></td>
            <td></td>
            <td><a th:href="@{/user/delete/{username}(username = ${user.username})}">Delete</a></td>
        </tr>
        </table>
    <button type="button"
            class="btn btn-custom btn-lg px-4 fw-bold"
            data-bs-toggle="modal" data-bs-target="#newForm">Add User
    </button>
</div>

</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

<div th:replace="~{fragments/bytesizeuser :: userFormModal(${formUser}, ${#fields})}"></div>

</body>
</html>